* {
  margin: 0;
  padding: 0;
}

.Nav {
  display: grid;
  width: 100%;
  grid-auto-flow: column;        
  grid-template-columns: repeat(12, 1fr);         
  color: #333;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  justify-items: end;
  width: 100%;
  height: 60px;
}

.Hamburger {
  display: none;
}

.App-Logo {
  grid-column: 2/4
}

.Links {
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition: background 0.3s;
  grid-column: 4/12;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.Links li a {
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition: background 0.3s, color 0.3s;
}

.Links li a:hover {
  color: #495ES7;
  font-style: italic;
  background-color: #F4CE14;
  border-radius: 5px;
}

.Footer {
  background-color: #495E57;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);         
  padding: 1em;
  justify-content: space-between;
  justify-items: end;
  row-gap: 2em;
}

.Footer h3 {
  color: #F4CE14;
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.Footer-Logo {
  height: 200px;
  margin-top: 20px;
}

.Footer li {
  list-style: none;
}

.Footer li a {
  color: #333;
  font-family: Karla, sans-serif;
  color: #edefee;
  font-weight: medium;
  font-size: 20px;
  list-style: none;
}

.Footer li a:hover {
  color: #F4CE14;
  font-family: Karla, sans-serif;
  font-style: italic;
  font-weight: medium;
  font-size: 20px;
  list-style: none;
}

.Header {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);         
  padding: 2em;
  background-color: #495E57;
  height: 357px;
  position: relative;
}

.Text-Container {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 5; 
  z-index: 1;
}

.Title {
  font-family: 'Markazi Text', serif;
  font-size: 64px;
  color: #F4CE14;
  margin-top: 20px;
}

.Subtitle {
  font-family: 'Markazi Text', sans-serif;
  font-size: 40px;
  color: #edefee;
} 

.Description {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: #edefee;
  margin-top: 20px;
}

.Reserve-Button {
  background-color: #F4CE14;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-style: bold;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  grid-column: 2/12 4/12;
  width: fit-content;
  margin-top: 35px;
}

.Reserve-Button:hover {
  background-color: #EE9972;
  color: #333;
}

.Restaurantfood {
  position: absolute;
  right: 20%;
  top: 10%;
  width: 375px;
  height: auto;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 0;
}
  


@media screen and (max-width: 820px) {
  .Nav {
    grid-template-columns: repeat(6, 1fr);
  }

  .Hamburger {
    display: block;
    position: absolute;
    margin: 0rem 1rem;
    right: 0;
  }
  
  .Links li a {
    display: none;
   
  }
  
  .Footer {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1em;
  }
  
  .Footer-Logo {
    height: 150px;
    margin-top: 10px;
  }
  
  .Footer h3 {
    font-size: 18px;
  }
  
  .Footer li a {
    font-size: 16px;
  }
  
}